/* This changes style settings for all Button elements*/
Button {
    -fx-background-color: red;
    -fx-padding: 10px;
}
/*Class style, use with styleClass in fxml file*/
.welcome-text {
    -fx-padding: 10px;
    -fx-font-size: 20px;
    -fx-background-color: teal;
}
/*Id style, only for one element.*/
#specialButton {
    -fx-background-color: blue;
}

.root {
    -fx-padding: 10px;
    //-fx-base: rgba(60, 63, 65, 255); // dark
}

